body
{
background-image:url('../img/bg.jpg');
background-repeat:repeat;
}

.container-narrow {
    background: #FFFFFF;
    padding: 50px;
    margin: 50px, 50px, 50px, 50px;
}

.inline{
  display:inline;
}

#results_subtitle{
  text-align: center;
  line-height:70%;
}

/*h2 h1 {
  display: inline;
}
*/
ul li,
ol li{
  text-align: left;
  margin:0 20px 20px 0; 
  vertical-align:top;
}


.highlightq1 { 
	background-color: #BCF54C;
}
.highlightq2 {
	background-color: #FFFF4F;
}
