{% extends "layout.html" %}



{% block style %}
{% endblock %}


{% block body %}



    <div id = "results_container">
      <div class="jumbotron">
      
        <h1>What are you looking for?</h1>
        <div>
          Recommended searches:<br>
          <a href="http://en.wikipedia.org/wiki/Dopamine_transporter">"DAT-1"</a> and <a href="http://en.wikipedia.org/wiki/ADHD">"ADHD" </a>(click get synonyms, and select DAT and others)(interactive)<br>
          <a href="http://en.wikipedia.org/wiki/TLR3">"TLR3"</a> and <a href="http://en.wikipedia.org/wiki/TLR_4">"TLR4"</a> (not interactive)<br><br>

          Please be patient, the parser has a hard job and may take up to a minute.<br>

        </div>

        <form action="/" method="post">
          <fieldset>
            <legend>Enter search terms</legend>
            <label>Entity 1: </label><input type = "text" id = "q1" name = "q1"><br><br>
            <label>Entity 2: </label><input type = "text" id = "q2" name = "q2"><br><br>
             <input id="get_syns" type = "submit" class="btn btn-large" value = "GET  SYNONYMS!"><br><br>
            <input id = "get_results" type="submit" class = "btn btn-large btn-success" value="DECIDE RELATIONSHIP!">
          <br>
          <div id="synonyms"></div>
          </fieldset>
          </form>


       </div>
     </div>
    
      
     </div>
    
    <script>

       //Displays synonyms when get syns button is clicked
      $("#get_syns").on("click", function(event){
        event.preventDefault();
        var theform = {
          q1: $("#q1").val(),
          q2: $("#q2").val()
        }
        $.ajax({
            type: "POST",
            url: "/get_syns",
            data: theform,
            success: displaySyns
          });
      });
      function displaySyns(html){
        $("#synonyms").html(html)
      }


      //Delays loading of new screen until processing is done
      $("#get_results").on("click", function(event){
        event.preventDefault();
        // var checked_list = $("input:checked").val()
        // console.log(checked_list)

        var q1_syns = new Array();
        $('#syn1_float_left input:checked').each(function() {
            q1_syns.push($(this).attr('value'));
        });
        var q1_string = JSON.stringify(q1_syns);
        console.log(q1_string)

        var q2_syns = new Array();
        $('#syn2_float_right input:checked').each(function() {
            q2_syns.push($(this).attr('value'));
        });
        var q2_string = JSON.stringify(q2_syns);
        console.log(q2_string)

        $("#synonyms").html("<div id='whiteout'><br><br><p class='lead'>Finding and classifying results</p><img src='/static/img/ajax-loader_blue.gif'></div>")


        var theform = {
          q1: $("#q1").val(),
          q2: $("#q2").val(),
          q1_syns: q1_string,
          q2_syns: q2_string
        }
        console.log(theform)
        $.ajax({
            type: "POST",
            url: "/",
            data: theform,
            success: displayResults
          });
      });
      function displayResults(html){
        $("#results_container").html(html)
      }
    </script>



{% endblock %}

