{% extends "layout.html" %}



{% block style %}
{% endblock %}


{% block body %}

      <hr>

      <div class="jumbotron">
      
        <h1>Here are some papers that had your search terms</h1>
        <p class="lead">These were your search terms</p>
        <h2><div id = "q1">{{ q1 }}</div> and <div id = "q2">{{ q2 }}</div></h2>
        <br><br>

        <ul>
          {% for item in display_items %}
          <li><b><a href = "http://www.ncbi.nlm.nih.gov/pubmed?term={{item[0]}}">{{ item[1] }} </a></b>
            <ul>
            {% for sentence in item[2] %} 
            <li>{{ sentence }}</li>
             {% endfor %}
           </ul>
          {% endfor %}
        </ul>


      </div>

      <hr>

<script>
  // highlights search terms
  $("li").highlightq1($("#q1").text());
  $("li").highlightq2($("#q2").text());
</script>










{% endblock %}



