{% extends "layout.html" %}



{% block style %}
{% endblock %}


{% block body %}
      
      <div class="jumbotron">
      
        <h1>Here are some papers that had your search terms</h1>
        <p class="lead">These were your search terms</p>
        <h2><div id = "q1">{{ q1 }}</div> and <div id = "q2">{{ q2 }}</div></h2>
        <br><br>
      </div>
      
<!-- 
      <div class = "row-fluid" >
      
        <div class = "span6">
          <p class="lead"> Interactive sentences </p>
          <ul>
            {% for item in interactive_list %}
            <li><b><a href = "http://www.ncbi.nlm.nih.gov/pubmed?term={{item[0]}}">{{ item[1] }} </a></b>
              <ul>
               {% for sentence in item[2] %} 
                <li> <b>{{ sentence[1] }}</b><br>
                  {{ sentence[0] }}</li>
               {% endfor %}
              </ul>
            {% endfor %}
          </ul>
        </div>
        
        <div class = "span6">
           <p class="lead"> Non-interactive sentences </p>
          <ul>
            {% for item in noninteractive_list %}
            <li><b><a href = "http://www.ncbi.nlm.nih.gov/pubmed?term={{item[0]}}">{{ item[1] }} </a></b>
              <ul>
               {% for sentence in item[2] %} 
                <li> <b>{{ sentence[1] }}</b><br>
                  {{ sentence[0] }}</li>
               {% endfor %}
              </ul>
            {% endfor %}
          </ul> 
        </div>
      
      </div>
 -->


          <div>
        <ul>
          {% for item in display_items %}
          <li><b><a href = "http://www.ncbi.nlm.nih.gov/pubmed?term={{item[0]}}">{{ item[1] }} </a></b>
            <ul>
            {% for sentence in item[2] %} 
            <li> <b>{{ sentence[1] }}</b><br>
              {{ sentence[0] }}</li>
             {% endfor %}
           </ul>
          {% endfor %}
        </ul>


      </div>

      <hr>

<script>
  // highlights search terms
  $("li").highlightq1($("#q1").text());
  $("li").highlightq2($("#q2").text());
</script>










{% endblock %}



